body {
		font-family: 'Lato';
}

.fa-btn {
		margin-right: 6px;
}

.panel.panel-tabs {
		.panel-heading {
				padding: 5px 5px 0 5px;
		}
		.nav-tabs {
				border-bottom: none;
		}
}

.section-title {
		margin-top: 0;
}

.details {
		font-size: 12px;
		font-style: italic;
}

.youtube-embed-wrapper {
		padding-top: 0 !important;
}
